<div class="bg-gray-100">
  {{ collection:banner }}
  <div class="bg-indigo-300 w-full">
    {{ image }}
    <img src="{{ url }}" class="h-96 w-full ">
    {{ /image }}
  </div>
  {{ /collection:banner }}
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class=" py-16 sm:py-24 lg:max-w-none lg:py-4">


      <div class="grid grid-cols-2 gap-4">
        {{ collection:agenda }}

        <div>
          <a href="{{ url }}"
            class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            {{ image }}
            <img src="{{ url }}" class="rounded-full object-cover w-24 h-24 m-4">
            {{ /image }}

            <div  class="flex flex-col justify-between p-4 leading-normal">
              <h5  class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ title }}</h5>
              <p class="font-normal text-gray-700 dark:text-gray-400">{{ subtitulo }}</p>
              <p class="font-normal text-gray-700 dark:text-gray-400">{{ date_field }}</p>
              <p class="font-normal text-gray-700 dark:text-gray-400">{{ time }}</p>
            </div>
          </a>
        </div>
        {{ /collection:agenda }}
      </div>
    </div>
  </div>
</div>



