{{ partial:partials/home/banner }}

<footer class="p-10 bg-white dark:bg-neutral-900 relative text-neutral-content">
    {{ font_awesome:kit }}
    <div class="flex justify-center ">
        <a class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
            <i class="fa-brands fa-react fa-2xl"></i>
        </a>
    </div>
    <!-- ICONOS -->
    <div class="flex justify-end gap-4 mx-auto max-w-screen-xl">
        
        <div class="bg-opacity-75 bg-gray-800 rounded-full h-8 w-8 flex items-center justify-center">
            <a class="text-gray-500 hover:text-gray-900 dark:hover:text-white z-50">
                <i class="fa-brands fa-facebook fa-lg"></i>
            </a>
        </div>

        <div class="bg-opacity-75 bg-gray-800 rounded-full h-8 w-8 flex items-center justify-center">
            <a class="text-gray-500 hover:text-gray-900 dark:hover:text-white z-50">
                <i class="fa-brands fa-twitter fa-lg"></i>
            </a>
        </div>
        
        <div class="bg-opacity-75 bg-gray-800 rounded-full h-8 w-8 flex items-center justify-center">
            <a class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                <x-bi-instagram />
            </a>
        </div>
        
        <div class="bg-opacity-75 bg-gray-800 rounded-full h-8 w-8 flex items-center justify-center">
            <a class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                <i class="fa-brands fa-tiktok fa-lg"></i>
            </a>
        </div>
        
        <div class="bg-opacity-75 bg-gray-800 rounded-full h-8 w-8 flex items-center justify-center">
            <a class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                <i class="fa-brands fa-youtube fa-lg"></i>
            </a>
        </div>
    </div>
            
    <!-- LISTAS -->
    <div class="mx-auto max-w-screen-xl">
        <div class="mb-14 md:flex md:justify-between ">
            <div class="mb-6 md:mb-0">
                <a class="flex items-center">
                    <div>
                        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-red-600">#</span>
                    </div>
                    <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">TuMismaSangre</span>
                </a>
            </div>
        </div>
        <div class="flex justify-center space-x-40">
            <div>
                <h4 class="mb-4 text-base self-center font-semibold whitespace-nowrap dark:text-white">PARA TI</h4>
                <a class="space-x-5 font-semibold group relative flex text-gray-500 hover:text-gray-900 dark:hover:text-white">
                    Diablo Abono
                <x-fas-arrow-right class="mb-3 text-primary-300 h-4 w-4 left-0 relative invisible group-hover:visible group-hover:left-2 duration-300 text-sm mt-1" />
                </a>
                <a class="space-x-5 font-semibold group relative flex text-gray-500 hover:text-gray-900 dark:hover:text-white">
                    Tienda
                <x-fas-arrow-right class="mb-3 text-primary-300 h-4 w-4 left-0 relative invisible group-hover:visible group-hover:left-2 duration-300 text-sm mt-1" />
                </a>
                <a class="space-x-5 font-semibold group relative flex text-gray-500 hover:text-gray-900 dark:hover:text-white">
                    Entradas
                <x-fas-arrow-right class="mb-3 text-primary-300 h-4 w-4 left-0 relative invisible group-hover:visible group-hover:left-2 duration-300 text-sm mt-1" />
                </a>
            </div>

            <div>
                <h4 class="mb-4 self-center text-base font-semibold whitespace-nowrap dark:text-white">PRIMER EQUIPO</h4>
                <a class="space-x-5 font-semibold group relative flex text-gray-500 hover:text-gray-900 dark:hover:text-white">
                    Actualidad
                <x-fas-arrow-right class="mb-3 text-primary-300 h-4 w-4 left-0 relative invisible group-hover:visible group-hover:left-2 duration-300 text-sm mt-1" />
                </a>
                <a class="space-x-5 font-semibold group relative flex text-gray-500 hover:text-gray-900 dark:hover:text-white">
                    Jugadores
                <x-fas-arrow-right class="mb-3 text-primary-300 h-4 w-4 left-0 relative invisible group-hover:visible group-hover:left-2 duration-300 text-sm mt-1" />
                </a>
                <a class="space-x-5 font-semibold group relative flex text-gray-500 hover:text-gray-900 dark:hover:text-white">
                    Calendario
                <x-fas-arrow-right class="mb-3 text-primary-300 h-4 w-4 left-0 relative invisible group-hover:visible group-hover:left-2 duration-300 text-sm mt-1" />
                </a>
                <a class="space-x-5 font-semibold group relative flex text-gray-500 hover:text-gray-900 dark:hover:text-white">
                    Resultados
                <x-fas-arrow-right class="mb-3 text-primary-300 h-4 w-4 left-0 relative invisible group-hover:visible group-hover:left-2 duration-300 text-sm mt-1" />
                </a>
                <a class="space-x-5 font-semibold group relative flex text-gray-500 hover:text-gray-900 dark:hover:text-white">
                    Posiciones
                <x-fas-arrow-right class="mb-3 text-primary-300 h-4 w-4 left-0 relative invisible group-hover:visible group-hover:left-2 duration-300 text-sm mt-1" />
                </a>
            </div>

            <div>
                <h4 class="mb-4 self-center text-base font-semibold whitespace-nowrap dark:text-white">CLUB</h4>
                <a class="space-x-5 font-semibold group relative flex text-gray-500 hover:text-gray-900 dark:hover:text-white">
                    Diablos Rojos Tv
                <x-fas-arrow-right class="mb-3 text-primary-300 h-4 w-4 left-0 relative invisible group-hover:visible group-hover:left-2 duration-300 text-sm mt-1" />
                </a>
                <div x-data="{ open: false }" class="mb-3">
                    <button x-on:click="open = ! open" class="space-x-5 font-semibold group relative flex text-gray-500 hover:text-gray-900 dark:hover:text-white">Fan ID</button>
                 
                    <div x-show="open" x-transition class="pl-4">
                        <a class="pl-4 group relative flex text-gray-500 hover:text-gray-900 dark:hover:text-white">
                            Registarte
                            <x-fas-arrow-right class="text-primary-300 h-4 w-4 left-0 relative invisible group-hover:visible group-hover:left-2 duration-300 text-sm mt-1" />
                        </a>
                    </div>
                    <div x-show="open" x-transition class="pl-4">
                        <a class="pl-4 group relative flex text-gray-500 hover:text-gray-900 dark:hover:text-white">
                            Registarte
                            <x-fas-arrow-right class="text-primary-300 h-4 w-4 left-0 relative invisible group-hover:visible group-hover:left-2 duration-300 text-sm mt-1" />
                        </a>
                    </div>
                </div>
                <div x-data="{ open: false }">
                    <button x-on:click="open = ! open" class="space-x-5 font-semibold group relative flex text-gray-500 hover:text-gray-900 dark:hover:text-white">Prensa</button>
                 
                    <div x-show="open" x-transition class="pl-4">
                        <a class="pl-4 group relative flex text-gray-500 hover:text-gray-900 dark:hover:text-white">
                            Registarte
                            <x-fas-arrow-right class="text-primary-300 h-4 w-4 left-0 relative invisible group-hover:visible group-hover:left-2 duration-300 text-sm mt-1" />
                        </a>
                    </div>
                    <div x-show="open" x-transition class="pl-4">
                        <a class="pl-4 group relative flex text-gray-500 hover:text-gray-900 dark:hover:text-white">
                            Registarte
                            <x-fas-arrow-right class="text-primary-300 h-4 w-4 left-0 relative invisible group-hover:visible group-hover:left-2 duration-300 text-sm mt-1" />
                        </a>
                    </div>
                </div>
            </div>
            <div>
                <h2 class="mb-4 self-center text-base not-italic max-w-none  dark:text-white">APP OFICIAL</h2>
                <a class="space-x-5 group relative flex text-gray-500 hover:text-gray-900 dark:hover:text-white">
                    <i class="fa-brands fa-android fa-lg"></i>
                    <i class="fa-brands fa-apple fa-lg"></i>
                </a>
            </div>
        </div>
        <hr class="mb-32 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        
      

        <div class="flex justify-end grid-flow-col gap-4 mx-auto max-w-screen-xl">

            <div class="grow h-14">
                <a class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                    <i class="fa-brands fa-soundcloud fa-2xl"></i>
                </a>
                <a class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                    <i class="fa-brands fa-soundcloud fa-2xl"></i>
                </a>
                <a class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                    <i class="fa-brands fa-soundcloud fa-2xl"></i>
                </a>
            </div>

            <div class="flex mt-4 sm:justify-center sm:mt-0">
                <a class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                    <i class="fa-solid fa-pizza-slice fa-2xl"></i>
                </a>
            </div>
            <div class="flex mt-4 sm:justify-center sm:mt-0">
                <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                    <i class="fa-solid fa-pizza-slice fa-2xl"></i>
                </a>
            </div>
            <div class="flex mt-4 sm:justify-center sm:mt-0">
                <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                    <i class="fa-solid fa-pizza-slice fa-2xl"></i>
                </a>
            </div>
            <div class="flex mt-4 sm:justify-center sm:mt-0">
                <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                    <i class="fa-solid fa-pizza-slice fa-2xl"></i>
                </a>
            </div>
            <div class="flex mt-4 sm:justify-center sm:mt-0">
                <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                    <i class="fa-solid fa-pizza-slice fa-2xl"></i>
                </a>
            </div>
            <div class="flex mt-4 sm:justify-center sm:mt-0">
                <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                    <i class="fa-solid fa-pizza-slice fa-2xl"></i>
                </a>
            </div>
        </div>
    </div>
</footer>