{{ collection:bannerimg }}
<div class="h-[90vh] max-w-full flex items-center justify-center relative">
  <div class="absolute inset-0 bg-gray-800 bg-opacity-50 h-full w-full z-10"></div>
  {{ img }}
  <img class="absolute h-full w-full object-cover " src="{{ url }}" />
  {{ /img }}
  <div class="relative w-1/2 z-40">
    <div class="h-full max-w-full ">
    </div>
    <div class="text-center">
      <div class="flex h-full text-align: bg-center items-center justify-center relative">
        <h1 class="text-gray-100 font-mono tracking-normal leading-none  text-[5rem]">HAZLE CASO A TU DIABLO INTERIOR</h1>
      </div>
    </div>
    <div class="flex h-full text-center items-center justify-center relative">
      <h1 class="text-gray-100 font-weight tracking-normal leading-none  text-[1rem]">CONSIGUE TU ABONO Y EMPIEZA TU GRAN
        VIAJE CON EL TOLUCA</h1>
    </div>
  </div>
</div>
{{ /collection:bannerimg }}